$ui-main-color: orange;

iframe {
  width: 100%;
}

.user {
  color: $ui-main-color;
}

.search {
  border-radius: .5em;
  padding: .25em;
}

h1 a {
  color: $ui-main-color;

  &:hover {
    color: red;
  }
}


section {
  transition-duration: 0.5s;
  transform-origin: top;
  transition-timing-function: ease;
}

.comment {
  display: block;
  background-color: transparentize(#CCC, 0.9);
  padding: 1em;
  border-left: 3px solid transparentize($ui-main-color, 0.7);

  transition-duration: 0.5s;

  &.hovered {
    background-color: transparentize($ui-main-color, 0.9);
  }

  header {
    transition-duration: 0.5s;
    border-radius: 0.25em;
    padding: 0.5em;
    cursor: pointer;
  }

  border-radius: 0.5em;

  $offset: 0.25em;
  box-shadow: $offset $offset $offset transparentize(black, 0.9);

  margin: 1em 0;

  .user {
    font-size: 1.25em;
    font-weight: bold;
  }

  .fold {
    transition-duration: .5s;
    transition-timing-function: ease;
  }

  &.folded {
    .fold {
      transform: rotate(-180deg);
    }

    section {
      transform: scaleY(0);
      opacity: 0;
      height: 0;
    }
  }
}

@media (max-width: 320px) {
  .comment {
    padding-left: 2px;
  }
}

.filter-container {
  margin: 1.5em 0;

  .glyphicon-search {
    margin-left: -1.75em;
    margin-right: 1em;
  }

  .filter {
    padding: 1.2em;
    background-color: #EEE;
    border-radius: 1em;
  }
}

.control {
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;

  .paginator {
    margin: 0 auto;
  }
}


div.story {
  margin: 1em 0;

  a {
    color: $ui-main-color;

    &:hover {
      color: red;
    }
  }

  header {
    font-size: 1.15em;
  }

  .points {
    font-weight: bold;
  }


  .ago {
  }
}
