$ui-main-color: orange;

div.story {
  margin-top: 1.5em;

  // :hover {
  //   background-color: black;
  // }

  a {
    color: $ui-main-color;
  }

  .points {
    font-weight: bold;
  }

  .user {
    color: $ui-main-color;
  }

  .ago {
  }
}
