$ui-main-color: orange;

.glyphicon-search {
  margin-left: -1.75em;
  margin-right: 1em;
}

.search {
  border-radius: .5em;
  padding: .25em;
}

section {
  transition-duration: .5s;
  transform-origin: top;
  transition-timing-function: ease;
  max-height: 500em;
}

section.folded {
  transform: scaleY(0);
  max-height: 0;
  opacity: 0;
}

.comment {
  .fold {
    transition-duration: .5s;
    transition-timing-function: ease;
  }

  .fold.folded {
    transform: rotate(-180deg);
  }

  .comment {
    padding-left: 2em;
  }
}

.filter-container {
  margin: 1.5em 0;

  .filter {
    padding: 1.2em;
    background-color: #EEE;
    border-radius: 1em;
  }
}

.control {
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;

  .paginator {
    margin: 0 auto;
  }
}


div.story {
  margin: 1em 0;

  a {
    color: $ui-main-color;

    &:hover {
      color: red;
    }
  }

  header {
    font-size: 1.15em;
  }

  .points {
    font-weight: bold;
  }

  .user {
    color: $ui-main-color;
  }

  .ago {
  }
}
