<div class="comment" 
  ng-repeat="comment in src" 
  ng-class="{'folded': folded, 'hovered': hovered}">
  <header ng-click="folded = !folded; $event.stopPropagation()"
    ng-mouseenter="hovered = true"
    ng-mouseleave="hovered = false";
    >
    <span class="glyphicon glyphicon-chevron-down fold"> </span>
    <span class="user">{{comment.user}}</span>:
  </header>
  <section>
    <div class="comment-text">{{comment.text}}</div>
    <comments ng-if="comment.comments.length" src="comment.comments"></comments>
  </section>
</div>
