<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
  </ul>
  <h3 class="text-muted">HackerNewsJS</h3>
</div>

<select ng-options="number for number in lengthOptions" ng-model="numStories"></select>

<a class="btn btn-warning" ng-click="page(-1)" ng-class="{disabled: c.page * numStories === 0}">Prev</a>
{{c.page}}
<a class="btn btn-warning" ng-click="page(1)" ng-class="{disabled: (c.page + 1) * numStories >= stories.length}">Next</a>

<div class="story" ng-repeat="story in stories | startFrom: c.page * numStories | limitTo: numStories">
  <a ng-href="{{story.url}}">{{story.title}}</a>
  <header>
    <span ng-if="story.points">
      <span class="points">({{story.points}})</span>
    </span>
    <span ng-if="story.user">
      Posted by
      <span class="user">{{story.user}}</span>
    </span>
    <span class="ago">{{story.createdAgo}}</span>
    ago
    <span ng-if="story.numComments"> | <span class="comments" ng-if="story.numComments">{{story.numComments}} comments</span> </span>
  </header>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
